@model user
@{
    ViewBag.Title = "Update";
}

<h2 class="text-center">Update</h2>
<hr />
<div class="col-md-12">

    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="col-md-12">
                @Html.HiddenFor(m => m.id)
                <div class="container text-center">
                    <label class="text-center">Username</label>
                    @*<input type="text" name="username" class="form-control" value="" />*@
                    @Html.TextBoxFor(m => m.username, new { @class = "form-control", @style = "margin: auto; display: block;" })
                    <br />
                    <label class="text-center">Password</label>
                    @*<input type="text" name="password" class="form-control" value="" />*@
                    @Html.TextBoxFor(m => m.password, new { @class = "form-control", @style = "margin: auto; display: block;", @type = "password" })
                    <br />
                    <input type="submit" class="btn btn-info" name="name" value="Update" />
                    <br />
                </div>
            </div>
        </div>
    }

</div>

